<div id="{{ rating.voteId }}" class="ratings">
    {% for k in [1,2,3,4,5] %}
        {% if rating_value+0.5>k %}
            {% set class="glyphicon-star permanent-star star_"~k~" ratings_stars ratings_vote" %}
        {% else %}
            {% set class="glyphicon-star-empty star_"~k~" ratings_stars ratings_blank" %}
        {% endif %}
        <span class="glyphicon {{ class }}"></span>
    {% endfor %}
    <div class="total_votes">
        <p class="voted">
            {% if rating.totalVotes==0 %}
                0 {% trans %}votes{% endtrans %}
            {% elseif rating.totalVotes==1 %}
                1 {% trans %}vote{% endtrans %}
            {% elseif rating.totalVotes==2 %}
                {% trans %}2 votes{% endtrans %}
            {% elseif rating.totalVotes>2 %}
                {{ rating.totalVotes }} {% trans %}votes{% endtrans %}
            {% endif %}
        </p>
    </div>
</div>